*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}







/* title */

.title {
    text-align: center;
    margin: 0 0 40px 0;
}

.title h5 {
    font-family: "Vollkorn", serif;
    font-weight: 400;
    font-size: 17px;
    color: #E5745D;
    margin: 0 0 15px 0
}

.title p {
    font-family: "Vollkorn", serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    width: 517px;
    color: #000000;
    margin: 0 auto;
}






/*!        navbar         */




.navbar {
    padding: 20px 0;
    background: #FFFFFF !important;
}

.navbar .navbar-nav {
    margin: 0 auto;
    column-gap: 43px;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #E5745D;
}

.navbar .navbar-nav .nav-item .active {
    font-size: 18px;
    color: #E5745D;
}

.navbar .btn {
    padding: 15px 35px;
    background: #E5745D;
    border: 2px solid #ffffff;
    outline: 3px solid #E5745D;
    font-family: "jost", serif;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 0;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar .btn:hover {
    background-color: #d1634c;
    outline-color: #d1634c;
}








/*!      heroarea        */


.heroarea {}

.heroarea .row {
    background-color: #00413D;
}

.heroarea .row .col-lg-6:nth-child(1) {
    padding: 121px 0 121px 180px;
    z-index: 99;
}

.heroarea .row .col-lg-6:nth-child(1) h1 {
    font-family: "Vollkorn", serif;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 90px;
    font-size: 70px;
    width: 834px;
    margin: 0 0 14px 0;
    letter-spacing: 0px;
}

.heroarea .row .col-lg-6:nth-child(1) p {
    font-family: "Jost", sans-serif;
    color: #ad9a9a;
    font-weight: 400;
    line-height: 30px;
    font-size: 19px;
    width: 500px;
    margin: 0 0 40px 0;
}

.heroarea .row .col-lg-6:nth-child(1) p span {
    font-family: "Jost", sans-serif;
    color: #ffffff;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
}

.heroarea .row .col-lg-6:nth-child(1) button {
    padding: 15px 35px;
    background: #E5745D;
    border: 2px solid #ffffff;
    outline: 3px solid #E5745D;
    font-family: "jost", serif;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.heroarea .row .col-lg-6:nth-child(1) button:hover {
    background-color: #d1634c;
    outline-color: #d1634c;
}

.heroarea .row .col-lg-6:nth-child(2) {
    background: #C4C4C4;
    z-index: 1;
}










/*!       services        */


.services {
    padding: 150px 0 100px 0;
}

.services .col-lg-4 .card {
    padding: 50px 0 50px 32px;
    border: 0;
    width: 25rem;
}

.services .col-lg-4 .card-body {
    padding: 0;
}

.services .col-lg-4 .card .img {
    height: 64px;
    width: 64px;
    margin: 0 0 24px 0;
    background: none;
}

.services .col-lg-4 .card .img img {
    height: 100%;
    width: 100%;
    color: #E5745D;
}

.services .col-lg-4 .card .card-title {
    font-family: "Vollkorn", serif;
    font-weight: 600;
    font-size: 22px;
    color: #00413D;
    margin: 0 0 15px 0;
}

.services .col-lg-4 .card .card-text {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #00413D;
    margin: 0 0 20px 0;
    width: 336px;
}

.services .col-lg-4 .card i {
    font-size: 17px;
    color: #E5745D;
}


.services .col-lg-4:nth-child(2) .card {
    justify-self: center;
}

.services .col-lg-4:nth-child(3) .card {
    justify-self: end;
}








/*!         aboutMe           */

.aboutMe {
    padding: 0 0 100px 0;
}

.aboutMe .col-lg-6 {}

.aboutMe .col-lg-6 .flex {
    display: flex;
}

.aboutMe .col-lg-6 .flex .imgLeft {
    width: 370px;
    height: 385px;
    background: #C4C4C4;
    margin: 0 30px 0 0;
}

.aboutMe .col-lg-6 .flex .imgLeft img {
    width: 100%;
    height: 100%;
}

.aboutMe .col-lg-6 .flex .imgRight {
    display: flex;
    flex-direction: column;
}

.aboutMe .col-lg-6 .flex .imgRight .imgOne {
    width: 170px;
    height: 180px;
    margin: 0 0 25px 0;
    background: #C4C4C4;
}

.aboutMe .col-lg-6 .flex .imgRight .imgOne img {
    width: 100%;
    height: 100%;
}

.aboutMe .col-lg-6 .flex .imgRight .imgTwo {
    width: 170px;
    height: 180px;
    background: #C4C4C4;
}

.aboutMe .col-lg-6 .flex .imgRight .imgTwo img {
    width: 100%;
    height: 100%;
}

.aboutMe .col-lg-6 h6 {
    font-family: "Vollkorn", serif;
    font-weight: 400;
    font-size: 17px;
    color: #E5745D;
    margin: 0 0 11px 0;
}

.aboutMe .col-lg-6 h2 {

    font-family: "Vollkorn", serif;
    font-weight: 500;
    font-size: 45px;
    line-height: 55px;
    width: 550px;
    color: #00413D;
    margin: 0 0 10px 0;
}

.aboutMe .col-lg-6 p {
    font-family: "Jost", sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 25px;
    width: 540px;
    color: #00413D;
    margin: 0 0 20px 0;
}

.aboutMe .col-lg-6 button {
    padding: 15px 35px;
    background: #E5745D;
    border: 2px solid #ffffff;
    outline: 3px solid #E5745D;
    font-family: "jost", serif;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.aboutMe .col-lg-6 button:hover {
    background-color: #d1634c;
    outline-color: #d1634c;
}











/*!       design         */







.design {
    padding: 0 0 50px 0;
}

.design .card {
    border: 0;
    width: 270px;
    border-radius: 1px;

}

.design .card .img {
    height: 150px;
    width: 150px;
    margin: 25px auto;
    background: none;
}

.design .card .img img {
    height: 100%;
    width: 100%;
}

.design .card h5 {
    margin: 0 auto 25px auto;
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    line-height: auto;
    color: #00413D;
    font-family: "Vollkorn", serif;
}











/*!       project        */

.project {
    padding: 100px 0 0 0;
}

.project .title {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0 0 40px 0;
}

.project .title .left h5 {
    font-weight: 400;
    font-size: 19px;
    color: #E5745D;
    font-family: "Vollkorn", serif;
    text-align: left;
    margin: 0 0 8px 0;
}

.project .title .left h3 {
    font-weight: 500;
    font-size: 44px;
    line-height: 55px;
    color: #00413D;
    font-family: "Vollkorn", serif;
    margin: 0;
}

.project .title .right {
    margin: 0 0 12px 0;
}

.project .title .right i {
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.project .title .right i:nth-child(1) {
    font-size: 14px;
    color: #00413D;
    padding: 6px 20px 5px 9px;
    border: 1px solid #00413D;
}

.project .title .right i:nth-child(2) {
    font-size: 14px;
    color: #00413D;
    padding: 6px 20px 5px 9px;
    border: 1px solid #00413D;
    background-color: #E5745D;
}

.project .title .right i:hover {
    background-color: #E5745D;
    color: #ffffff;
}

.project .card {
    border: 0;
    width: auto;

}

.project .card .project-img {
    width: 416px;
    height: 290px;
    background-color: #c4c4c4;

}

.project .card .card-body {
    padding: 30px;
}

.project .card .card-body .card-title {
    font-weight: 300;
    font-size: 16px;
    line-height: auto;
    color: #E5745D;
    font-family: "Vollkorn", serif;
    margin: 0 0 10px 0;
}

.project .card .card-body .card-subtitle {
    font-weight: 300;
    font-size: 24px;
    width: 304px;
    line-height: 30px;
    color: #00413D;
    font-family: "Vollkorn", serif;
    margin: 0 0 10px 0;
}

.project .card .card-body .card-text {
    font-weight: 300;
    font-size: 16px;
    width: 289px;
    line-height: 24px;
    color: #00413D;
    font-family: "jost", serif;
    margin: 0 0 30px 0;
}

.project .card .card-body .btn {
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    color: #00413D;
    font-family: "jost", serif;
    background: transparent;
    border: 0;
    padding: 0;
}

.project .card .card-body i {
    position: relative;
    top: 2px;
    left: 10px;
    transition: 0.3s ease-in-out;
}

.project .card .card-body .btn:hover {
    color: #E5745D;
}

.project .card .card-body .btn:hover i {
    transform: translateX(10px);
}

.project .endButton {
    text-align: center;
    margin: 70px 0 0 0;
}

.project .endButton button {
    padding: 15px 35px;
    background: #E5745D;
    border: 2px solid #ffffff;
    outline: 3px solid #E5745D;
    font-family: "jost", serif;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.project .endButton button:hover {
    background-color: #d1634c;
    outline-color: #d1634c;
}









/*!        portfolio         */
.portfolio {
    padding: 120px 0;
}

.portfolio .title {
    text-align: center;
}

.portfolio .title h5 {
    font-weight: 400;
    font-size: 18px;
    color: #E5745D;
    font-family: "Vollkorn", serif;
    margin: 0 0 20px 0;
}

.portfolio .title h2 {
    font-weight: 600;
    font-size: 50px;
    color: #00413D;
    line-height: 50px;
    font-family: "Vollkorn", serif;
    margin: 0 0 11px 0;
    letter-spacing: 2px;
}

.portfolio .navbar {
    padding: 20px 0 40px 0;
}

.portfolio .navbar-nav {
    column-gap: 25px;
}

.portfolio .card {
    border: 0;
    cursor: pointer;
}

.portfolio .card .img {
    width: 100%;
    height: 420px;
    background-color: #cccccc;
    position: relative;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

.portfolio .card .img::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: #4e7573;
    height: 100%;
    width: 0;
    z-index: 1;
}

.portfolio .card .img:hover::after {
    width: 100%;
}

.portfolio .hover-arrow {
    position: absolute;
    top: 20px;
    right: 20PX;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #E5745D;
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    z-index: 2;

}


.portfolio .hover-arrow i {
    color: #E5745D;
}

.portfolio .card:hover .hover-arrow {
    opacity: 1;

}

.portfolio .hover-arrow:hover {
    transform: scale(1);
}

.portfolio .card .card-body {
    background-color: #00413D;
    padding: 22px auto 22px 18px;
}

.portfolio .card .card-body h5 {
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    line-height: normal;
    font-family: "Vollkorn", serif;
    margin: 0 0 1px 0;
}

.portfolio .card .card-body p {
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    line-height: normal;
    font-family: "jost", serif;
    margin: 0;
}





/*!       testimonial       */

.testimonial {
    padding: 121px 0 170px 0;
    background: #F9F4F1;
}



.testimonial .title h3 {
    font-weight: 600;
    font-size: 50px;
    color: #00413D;
    line-height: 50px;
    font-family: "Vollkorn", serif;
    margin: 0 0 11px 0;
    letter-spacing: 2px;
}

.testimonial .orange {
    width: 100%;
    height: 10px;
    background: #E5745D;
}

.testimonial .details p {
    font-family: "jost", serif;
    margin: 30px 50px;
    font-weight: 400;
    font-size: 16px;
    width: 476px;
}

.testimonial .details .prsn {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin: 0 0 0 60px;
}

.testimonial .details .prsn .img {
    width: 85px;
    height: 85px;
    background: #cccccc;
    border-radius: 50%;
}

.testimonial .details .prsn .name h4 {
    font-weight: 500;
    font-size: 20px;
    color: #00413D;
    line-height: normal;
    font-family: "Vollkorn", serif;
    margin: 0;
}

.testimonial .details .prsn .name h6 {
    font-weight: 400;
    font-size: 14px;
    color: #00413D;
    line-height: normal;
    font-family: "jost", serif;
    margin: 0;
}

.testimonial .details .prsn .name i {
    font-size: 10px;
    color: #E5745D;
    margin: 0;
    padding: 0;
}











/*!         from         */







.inputForm {
    padding: 120px 0;
}


.inputForm .col-lg-5 .img {
    width: 100%;
    height: 580px;
    background: #cccccc;
}

.inputForm .col-lg-7 .title {
    text-align: left;
    margin: 40px 0;
}

.inputForm .col-lg-7 .title p {
    margin: 0 0px;
}

.inputForm .col-lg-7 .form-group {}

.inputForm .col-lg-7 .form-group input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d3e2e0;
    /* হালকা নিচের বর্ডার */
    padding: 40px 0 10px 0;
    background: transparent;
    font-size: 20px;
    color: #00413D;
    outline: none;
    transition: border-color 0.3s ease;
    font-family: "jost", serif;
}

.inputForm .col-lg-7 .form-group input:focus {
    border-bottom: 2px solid #000000;
    outline: none;
}

.inputForm .col-lg-7 .form-btn {
    margin: 50px 0 0 0;
}

.inputForm .col-lg-7 .form-btn .contact {
    padding: 15px 35px;
    background: #E5745D;
    border: 2px solid #ffffff;
    outline: 3px solid #E5745D;
    font-family: "jost", serif;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.inputForm .col-lg-7 .form-btn .contact:hover {

    background-color: #d1634c;
    outline-color: #d1634c;
}















/*!       blog       */



.blog {
    padding: 0 0 120px 0;
}

.blog .col-lg-4 .card {
    width: 23rem;
}

.blog .col-lg-4:nth-child(1) .card {
    justify-self: start;
}

.blog .col-lg-4:nth-child(2) .card {
    justify-self: center;
}

.blog .col-lg-4:nth-child(3) .card {
    justify-self: end;
}



.card {
    border: none;
}

.card .img {
    width: 100%;
    height: 240px;
    background-color: #cccccc;
}



.card .card-body {
    padding: 20px 30px 30px;
}

.card .card-body .title {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

.card .card-body .title .card-title {
    font-size: 13px;
    margin: 0 0 10px 0;

}

.card .card-body .title h6 {
    font-family: "jost", serif;
    font-weight: 400;
    color: #00413D;
    font-size: 13px;
    margin: 0 0 10px 0;

}

.card .card-body h2 {
    font-family: "vollkorn", serif;
    font-weight: 400;
    font-size: 26px;
    color: #00413D;
    margin: 0 0 15px 0;
}

.card .card-body .card-text {
    font-family: "jost", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #00413D;
    margin: 0 0 24px 0;
}

.card .card-body .ancor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.card .card-body .ancor .btn {
    background: none;
    border: none;
    color: #00413D;
    font-family: "jost", serif;
    font-weight: 500;
    font-size: 18px;
    padding: 0;
}

.card .card-body .ancor i {
    transform: translatex(-190px) translateY(1px);
    transition: .3s ease-in-out;
}

.card .card-body .ancor:hover i {
    transform: translatex(-180px);
}










/*!        footer      */

.footer {
    padding: 80px 0 20px 0;
    background-color: #00413D;
}

.footer .logo {
    text-align: center;
    margin: 0 0 50px 0;
}

.footer .footerNav .nav {
    /* column-gap: 20px; */
}

.footer .footerNav .nav-item {
    border-right: 1px solid #655151;
}

.footer .footerNav .nav-item:nth-child(5) {
    border: none;
}

.footer .footerNav .nav-link {
    font-family: "jost", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    margin: 0 20px 0 20px;
    line-height: 0;
    transition: 0.3s;
}

.footer .footerNav .nav-link:hover {
    color: #d1634c;
}


.footer .socialMedia {
    margin: 40px 0 0 0;
    padding: 0 0 90px 0;
    border-bottom: 1px solid #0c4a4c;
}

.footer .socialMedia ul {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    margin: 0 2% 0 0;
}

.footer .socialMedia ul li {
    list-style: none;
}

.footer .socialMedia ul li a {
    text-decoration: none;
}

.footer .socialMedia ul li i {
    color: #FFFFFF;
    width: 50px;
    height: 50px;
    background: #E5745D;
    font-size: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .ending {
    text-align: center;
    margin: 30px 0 0 0;

}

.footer .ending p {
    font-family: "jost", serif;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;

}